
body, h1, h2, h3, h4, h5, h6 {
  /*font-family: "Lucida Console", Monaco, monospace;*/
}

p {
  font-size: 16px;
}

body {

  text-align: justify;
  text-justify: inter-character;
  
  width: 50%;

  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2%;

  line-height: 1.5;

}

h1 {
  text-align: center;
}
